.nothing {
    color: #ffffffb3;
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 70px;

    img {
        width: 8%;
        text-align: center;
        margin-bottom: 30px;
        opacity: 0.3;
    }

    p {
        width: 30%;
        margin-top: 10px;
    }
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
    color: #764ba2;
    font-size: 15px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 200px;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

footer {
    color: #ffffffb3;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    padding: 40px;
    border-top: 1px solid #ffffffb3;
    opacity: 0.7;
    font-size: 15px;

    span {
        background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        background-clip: text;
        color: transparent;
    }
}


/* media qyery */
@media screen and (min-width: 320px) {

    .nothing {
        img {
            width: 30%;
        }

        p {
            width: 100%;
        }
    }
}

@media screen and (min-width: 375px) {
    * {
        max-width: 330px;
        margin-inline: auto;
    }
}


@media screen and (min-width: 425px) {
    * {
        max-width: 380px;
        margin-inline: auto;
    }

    .nothing {
        img {
            width: 20%;
        }

        p {
            width: 80%;
        }
    }
}

@media screen and (min-width: 768px) {
    * {
        max-width: 700px;
        margin-inline: auto;
    }

    .nothing {
        img {
            width: 10%;
        }

        p {
            width: 45%;
        }
    }
}

@media screen and (min-width: 1024px) {
    * {
        max-width: 950px;
        margin-inline: auto;
    }

    .nothing {
        img {
            width: 8%;
        }

        p {
            width: 30%;
        }
    }
}