* {
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #0f0f1a;

}

.photos {
  max-width: 1440px;
  margin-inline: auto;
  margin-top: 30px;
  display: block;
  text-align: center;

  .title {
    display: flex;
    gap: 10px;
    justify-content: center;

    img {
      width: 4%;
      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      border-radius: 10px;
      padding: 4px;
    }

    h1 {
      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      margin-top: 5px;
      font-size: 32px;
      /* new */
      background-clip: text;
      /* bachground behind the text */
      color: transparent;
      /* text is transparent */
    }
  }

  p {
    color: #ffffffb3;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
  }

  .search {
    position: relative;
    margin-top: 80px;
    margin-left: 80px;

    .searchBox {
      img {
        background: none;
        width: 7%;
        margin-top: 10px;
        position: absolute;
        left: -1%;
        top: 32%;
        transform: translateY(-50%);
        padding: 20px;
      }

      input {
        padding-left: 40px;
        width: 100%;
        max-width: 800px;
        min-height: 70px;
        border: 1px solid #ffffff0d;
        border-radius: 28px;
        box-shadow: 0px 0px 40px #7b8fe84d;
        transition: box-shadow 0.3s ease;
        padding-right: 50px !important;
        font-size: 15px;
        color: #ffffffb3;
      }

      input:hover {
        color: #ffffffb3;
        font-size: 15px;
      }

      input:focus {
        box-shadow: 0px 0px 100px #667eea4d;
        border: 1px solid #667eea4d;
      }

      button {
        position: relative;
        right: 130px;
        background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        color: #ffffffb3;
        width: 13%;
        min-height: 40px;
        border-radius: 28px;
        cursor: pointer;
      }

      button:hover {
        transform: translateY(-3px);
        box-shadow: 0px 5px 100px #ffffffb3;
      }

    }
  }

  .nothing {
    justify-content: center;
    color: #ffffffb3;
    display: flex;
    gap: 20px;

    .box {
      font-size: 14px;
      padding: 10px;
      background-color: #ffffff0d;
      width: 8%;
      margin-top: 15px;
      border-radius: 12px;
      cursor: pointer;
    }

    p {
      padding: 4px;
    }

    .box:hover {
      box-shadow: 0px 2px 100px #aab0cb4d;
      transform: translateY(-3px);

    }
  }

}

.items {
  max-width: 1300px;
  margin-inline: auto;
  color: #ffffffb3;
  display: flex;
  margin-top: 60px;
  margin-bottom: -70px;

  .item {
    font-size: 20px;
  }

  p {
    background-color: #ffffff0d;
    text-align: center;
    margin-left: 10px;
    background-color: #ffffff0d;
    width: 8%;
    padding: 6px;
    margin-top: -4px;
    max-height: 50px;
    border-radius: 20px;
    opacity: 0.7;
  }
}


.photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 100px;
  max-width: 1300px;
  margin-inline: auto;
  gap: 10px;

  a {
    max-width: 100%;
    max-height: 250px;
    overflow: hidden;
    border-radius: 12px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
    text-decoration: none;

  }

  img {
    position: absolute;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  img:hover {
    transform: scale(1.05);
    opacity: 0.7;
  }

  .des {
    margin-top: 40%;
    margin-bottom: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;

    h1 {
      margin-top: 10px;
      position: relative;
      width: 20%;
      max-height: 27px;
      font-size: 15px;
      padding: 4px;
      border-radius: 50%;
      background-color: #fa709a;
      text-align: center;
      color: #ffffffb3;
    }

    h3 {
      position: relative;
      width: 100%;
      background-clip: text;
      color: transparent;
      color: #ffffff;
    }

    p {
      position: relative;
      background-clip: text;
      color: transparent;
      color: #ffffff;
    }

  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);

  }
}

/* media query */
@media screen and (min-width: 320px) {
  * {
    max-width: 280px;
    margin-inline: auto;
  }

  .photos {
    .title {
      gap: 0px;
      align-items: center;

      img {
        width: 15%;
        margin-right: -20px;
      }
    }

    .search {
      margin: 0;

      .searchBox {
        margin: 0;
        width: 100%;

        form {
          display: grid;
          grid-template-columns: 1fr;
          align-items: center !important;
          margin-top: 40px;
          margin-bottom: 40px;

          input {
            min-height: 120px;
            padding-bottom: 70px;
            font-size: 1rem;
            display: flex;
            text-align: center;
          }

          input:hover {
            font-size: 1rem;
          }

          img {
            display: none;
          }

          button {
            width: 70%;
            right: 0;
            margin-top: -80px;

          }
        }
      }
    }

    .nothing {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .box {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  .items {
    p {
      width: 40%;
    }
  }

  .photo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

}


@media screen and (min-width: 425px) {
  * {
    max-width: 380px;
    margin-inline: auto;
  }

  .photos {

    .title {
      img {
        width: 13%;
        margin-right: -60px;
      }

    }
  }
}


@media screen and (min-width: 768px) {
  .photos {
    .title {
      img {
        width: 6%;
        margin-right: -230px;
      }
    }

    .nothing {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  .photo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    img {
      width: 100%;
    }
  }

  .items {
    display: flex;
    gap: 0;

    h3 {
      margin-left: 0px;
    }

    p {
      width: 20%;
      margin-left: -400px;
    }
  }
}

@media screen and (min-width: 1024px) {

  .photos {
    .title {
      img {
        margin-right: -350px;
      }
    }

    .search {
      .searchBox {
        form {
          display: flex;
          padding: 0;
          margin-left: 100px;

          input {
            width: 100%;
            min-height: 70px;
            padding: 30px;
            text-align: left;
          }

          button {
            width: 13%;
            right: 150px;
            margin-top: -5px;
          }
        }
      }
    }
  }

  .photo {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .items {
    .item {
      font-size: 30px;
    }

    p {
      width: 12%;
      margin-left: -500px;
      margin-top: 1px;
    }
  }
}

@media screen and (min-width: 1440px) {
  * {
    max-width: 1300px !important;
    margin-inline: auto;
  }

  .photo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .photos {
    .title{
      max-width: 950px !important;
    }

    .search{
      max-width: 950px !important;
      margin-inline: auto;
    }
    .nothing {
      max-width: 500px !important;
    }
  }

  .items{
    p{
      margin-left: -75%;
    }
  }

}